<div>
  <h1 class="h3 mb-3 font-weight-normal text-center">
      <ng-container *ngIf="book.bookID && book.bookID > 0">Edit Book</ng-container>
      <ng-container *ngIf="!book.bookID || book.bookID === 0">Add Book</ng-container>
  </h1>
  <div class="book-edit-form">
    <form [formGroup]="bookEditForm" (ngSubmit)="save()">
      <div class="form-group row">
        <label class="col-sm-3 col-form-label">Title:</label>
        <div class="col-sm-9">
          <input type="text" placeholder="Title" formControlName="title" class="form-control"
                 [ngClass]="{'is-invalid': title.touched && !title.valid}"/>
          <div *ngIf="title.hasError('required') && title.touched" class='text-danger'>Field required</div>
          <div *ngIf="title.hasError('maxlength') && title.touched"
                class='text-danger'>The field cannot contain more than 100 characters</div>
        </div>
      </div>

      <div class="form-group row">
        <label class="col-sm-3 col-form-label">Author(s):</label>
        <div class="col-sm-9">
          <select formControlName="authorIds" multiple="multiple" class="form-control"
                 [ngClass]="{'is-invalid': authorIds.touched && !authorIds.valid}" >
              <option *ngFor="let author of authors" [value]="author.authorID">{{author.fullName}}</option>
          </select>
          <div *ngIf="authorIds.hasError('required') && authorIds.touched" class='text-danger'>Field required</div>
        </div>
      </div>

      <div class="form-group row">
        <label class="col-sm-3 col-form-label">Publisher:</label>
        <div class="col-sm-9">
            <select formControlName="publisherID" class="form-control"
                   [ngClass]="{'is-invalid': publisherID.touched && !publisherID.valid}">
                <option [value]="0">-- select publisher --</option>
                <option *ngFor="let publisher of publishers" [value]="publisher.publisherID">{{publisher.name}}</option>
            </select>
            <div *ngIf="publisherID.hasError('min') && publisherID.touched" class='text-danger'>Field required</div>
        </div>
      </div>

      <div class="form-group row">
        <label class="col-sm-3 col-form-label">Additional Information:</label>
        <div class="col-sm-9">
          <textarea formControlName="additionalInformation" placeholder="Additional Information" class="form-control"
          [ngClass]="{'is-invalid': additionalInformation.touched && !additionalInformation.valid}"></textarea>
          <div *ngIf="additionalInformation.hasError('maxlength') && additionalInformation.touched"
                class='text-danger'>The field cannot contain more than 1000 characters</div>
        </div>
      </div>

      <div class="form-group row">
        <div class="col-sm-offset-3 col-sm-9">
            <span [ngStyle]="{ 'margin-right': '20px' }">
                <button class="btn btn-primary" type="submit">
                  <ng-container *ngIf="book.bookID && book.bookID > 0">Update</ng-container>
                  <ng-container *ngIf="!book.bookID || book.bookID === 0">Add</ng-container>
                </button>
            </span>
            <button *ngIf="!book.bookID || book.bookID === 0" type="button" class="btn btn-secondary"
              (click)="redirectToBooksList.emit()">Return</button>
            <button *ngIf="book.bookID && book.bookID > 0" type="button" class="btn btn-secondary"
              (click)="cancelEdit.emit()">Cancel</button>
        </div>
      </div>
    </form>
  </div>

</div>
