<div>
    <h1 class="h3 mb-3 font-weight-normal text-center">
      Publisher Details
    </h1>
    <div class="publisher-details-form">
      <form [formGroup]="publisherDetailsForm">
        <div class="form-group row">
          <label class="col-sm-3 col-form-label">Name:</label>
          <div class="col-sm-9">
            <label class="col-form-label">{{publisher.name}}</label>
          </div>
        </div>

        <div class="form-group row">
            <label class="col-sm-3 col-form-label">Address:</label>
            <div class="col-sm-9">
              <label class="col-form-label">{{publisher.address}}</label>
            </div>
        </div>

        <div class="form-group row">
          <label class="col-sm-3 col-form-label">Additional Information:</label>
          <div class="col-sm-9">
          <label class="col-form-label">{{publisher.additionalInformation}}</label>
          </div>
        </div>

        <div class="form-group row">
          <div class="col-sm-offset-3 col-sm-9">
            <span [ngStyle]="{ 'marginRight': '20px' }">
              <button class="btn btn-primary" type="button" (click)="edit.emit()">Edit</button>
            </span>
            <button class="btn btn-secondary" type="button" (click)="redirectToPublishersList.emit()">Return</button>
          </div>
        </div>
      </form>
    </div>
  </div>
